$yellow: #FFFa19;
$blue:  #1E2594;
$red: #E41818;
$green: #1C923A;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin relleno($top, $bottom, $left, $right){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

.jumbotron{
    color:white;
    @include margenes(0px,0px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    @include relleno(10px,10px,0px,10px);
    background-color: $blue;
    @include margenes(10px,0px);
}
.card-servicio{
    flex: 1 200px;
    @include margenes(10px,0px);
}
.btn-ejercicio{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    @include relleno(0px,0px,0px,10px);
}
.ejercicios-icon{
    @include relleno(0px,0px,0px,5px);
}
.tab-content{
    @include relleno(10px,0px,0px,0px);
}
.slide-conf{
    @include relleno(10px,0px,0px,0px);
}