.jumbotron{
    color:white;
    margin-top: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: #1E2594;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-servicio{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-ejercicio{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.ejercicios-icon{
    padding-right: 5px;
}
.tab-content{
    padding-top: 10px;
}
.slide-conf{
    padding-top: 10px;
}