.jumbotron {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
  background-color: #1E2594;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-servicio {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-ejercicio {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px; }

.ejercicios-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px; }

.slide-conf {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px; }
