@yellow: #FFFa19;
@blue:  #1E2594;
@red: #E41818;
@green: #1C923A;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.relleno(@top: 0px, @bottom: 0px, @left: 0px, @right: 0px){
    padding-top: @top;
    padding-bottom: @bottom;
    padding-left: @left;
    padding-right: @right;
}

.jumbotron {
    color: white;
    .margenes(0px,0px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  
  footer {
    .relleno(10px,10px,0px,10px);
    background-color: @blue;
    .margenes(10px,0px);}
  
  .card-servicio {
    flex: 1 200px;
    .margenes(10px,0px); }
  
  .btn-ejercicio {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    .relleno(0px,0px,0px,10px); }
  
  .ejercicios-icon {
    .relleno(0px,0px,0px,5px);}
  
  .tab-content {
    .relleno(10px,0px,0px,0px);}
  
  .slide-conf {
    .relleno(10px,0px,0px,0px);}
  